<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <meta name="theme-color" content="#000000" />

  <link rel="manifest" href="./manifest.json" />

  <link rel="stylesheet" href="assets/styles/rpgui.css">
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="application-name" content="<%= htmlWebpackPlugin.options.gameName %>" />
  <meta name="apple-mobile-web-app-title" content="<%= htmlWebpackPlugin.options.gameName %>" />
  <meta name="msapplication-starturl" content="./" />

  <link rel="icon" type="image/png" sizes="192x192" href="./icons/icons-192.png" />
  <link rel="apple-touch-icon" type="image/png" sizes="192x192" href="./icons/icons-192.png" />

  <link rel="icon" type="image/png" sizes="512x512" href="./icons/icons-512.png" />
  <link rel="apple-touch-icon" type="image/png" sizes="512x512" href="./icons/icons-512.png" />

  <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon" />
  <script src="https://kit.fontawesome.com/82df8fcdd8.js" crossorigin="anonymous"></script>

  <title>
    <%= htmlWebpackPlugin.options.gameName %>
  </title>
  <style>
    html,
    body {
      height: 100%;
      margin: 0;
      background-color: #000000;
    }
  </style>

  <noscript>Please enable javascript to continue using this application.</noscript>

  <!-- installs the serviceWorker -->
  <!-- <script>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('./sw.js')
        })
      }
    </script> -->
</head>

<body>

  <div id="start-game-container" class="rpgui-content rpgui-cursor-default ">
    <p style="position:fixed; right:0px; bottom:0px;">This example shows all the key elements of RPGUI.<br>You might
      need to zoom-out a little to view all.</p>


    <!-- Dropdown and list -->
    <div class="rpgui-container framed container container mx-auto w-full h-full" data-rpguitype="draggable"
      draggable="false">
      <h1>Tower Defense</h1>
      <hr>


      <div class="grid grid-cols-2 gap-4 w-full h-full">

        <div>
          <label>Select map:</label>
          <select id="map-select" class="rpgui-list h-full" id="background-select" size="4" data-rpguitype="list" style="display: none;">
            <option value="0" selected>Mapa 1</option>
            <option value="1">Mapa 2</option>
          </select>
        </div>
        <div>
          <div class="grid grid-rows-2 gap-4 w-full h-full">
            <div>
              <div class="rpgui-container framed-grey w-full h-full"  >
                <div class="w-full h-full bg-center bg-no-repeat bg-cover" style="background-image: url('assets/styles/img/Kreta3.png');">

                </div>
              </div>
            </div>
            <div>
              <div class="flex flex-col flex-initial h-full ">
                <div>
                  <h1>Test</h1>
                  <p class="p-3">Test Test Test Test Test Test Test Test Test Test Test </p>
                </div>
                <hr>
                <div class="align-self-end"></div>
                  <button class="rpgui-button self-end " id="start-game" type="button"><p>Start game</p></button>
                </div>
              </div>
              
            </div>
          </div>
        </div>

      </div>
    </div>




  </div>

</body>

</html>

<script src="assets/scripts/rpgui.js"></script>